{
    "parallels-desktop.extension.path": "{{ .chezmoi.homeDir }}/.parallels-desktop-vscode",
    "parallels-desktop.brew.path": "/opt/homebrew/bin/brew",
    "parallels-desktop.git.path": "/opt/homebrew/bin/git",
    "parallels-desktop.devops-service.path": "{{ .chezmoi.homeDir }}/.parallels-desktop-vscode/tools/prldevops",
    "redhat.telemetry.enabled": true,
    "[yaml]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "git.autofetch": true,
    "git.confirmSync": false,
    "claudeCode.preferredLocation": "panel",
    "chat.plugins.marketplaces": [
        "github/copilot-plugins",
        "github/awesome-copilot#marketplace"
    ],
    "editor.accessibilitySupport": "off",
    "chat.mcp.gallery.enabled": true,
    "[json]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
	"window.autoDetectColorScheme": true,
	"mcp": {
		"servers": {
			"composio": {
				"type": "http",
				"url": "https://connect.composio.dev/mcp"
			}
		}
	}
}
