{
	"inputs": [],
	"servers": {
		"Workspace MCP - Personal": {
			"url": "https://private.workspacemcp.com/mcp?{{ .personalEmail }}",
			"type": "http"
		},
		"Workspace MCP - Business": {
			"url": "https://private.workspacemcp.com/mcp?{{ .workEmail }}",
			"type": "http"
		},
		"Trakt MCP": {
			"command": "/opt/homebrew/bin/op",
			"args": [
				"run",
				"--no-masking",
				"--",
				"uvx",
				"--python",
				"3.12",
				"--from",
				"git+https://github.com/wwiens/trakt_mcpserver",
				"trakt-mcp"
			],
			"env": {
				"TRAKT_CLIENT_ID": "op://Private/Trakt/TRAKT_CLIENT_ID",
				"TRAKT_CLIENT_SECRET": "op://Private/Trakt/TRAKT_CLIENT_SECRET"
			},
			"type": "stdio"
		},
		"io.github.ComposioHQ/composio": {
			"type": "http",
			"url": "https://connect.composio.dev/mcp",
			"gallery": "https://api.mcp.github.com",
			"version": "1.0.5"
		},
		"X": {
			"command": "/opt/homebrew/bin/op",
			"args": [
				"run",
				"--no-masking",
				"--",
				"npx",
				"-y",
				"@xdevplatform/xurl",
				"mcp",
				"https://api.x.com/mcp"
			],
			"env": {
				"CLIENT_ID": "op://Private/X API/CLIENT_ID",
				"CLIENT_SECRET": "op://Private/X API/CLIENT_SECRET"
			},
			"type": "stdio"
		}
	}
}