# Managed by chezmoi. Edit the vault item, then reapply this template.
GOOGLE_OAUTH_CLIENT_ID={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GOOGLE_OAUTH_CLIENT_ID" | shellQuote }}
GOOGLE_OAUTH_CLIENT_SECRET={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GOOGLE_OAUTH_CLIENT_SECRET" | shellQuote }}
GOOGLE_OAUTH_REFRESH_TOKEN={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GOOGLE_OAUTH_REFRESH_TOKEN" | shellQuote }}
GITMAN_SYNC_SPREADSHEET_ID={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GITMAN_SYNC_SPREADSHEET_ID" | shellQuote }}
GITMAN_SYNC_GOOGLE_OWNER={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GITMAN_SYNC_GOOGLE_OWNER" | shellQuote }}
GITMAN_SYNC_TIMEZONE={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GITMAN_SYNC_TIMEZONE" | shellQuote }}
GITMAN_SYNC_OVERLAP_SECONDS={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GITMAN_SYNC_OVERLAP_SECONDS" | shellQuote }}
GITMAN_SYNC_BATCH_SIZE={{ onepasswordRead "op://ts4jmaranagdjfxrtkfukeglcm/i2pxq2mzqg2mtyzt4gbt7l4rza/GITMAN_SYNC_BATCH_SIZE" | shellQuote }}
